.container{
  height: 100vh;
  box-shadow: -7px -4px 11px #efefef, 7px -4px 11px #efefef;
  padding: 3rem;
}

#renuo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#renuo-logo-img{
  height: 6rem;
}

.back{
  text-decoration: none;
  color: black;
}